
body{
    background-image: url(media/8bit_img.jpg);
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

img{
    position: absolute;
}
#chest{
    width: 200px;
    left: 870px;
    top: 300px;
    background-image: url(media/chest.png);
}


#island2{
    width: 150px;
    left: 50px;
    top: 450px;
}



#player{
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
    width: 75px;
    left: 0px;
    top: 0px;
}

.opponent{
    width: 75px;
    display: none;
}

#enemy1{
    left: 150px;
    top: 150px;
}

#enemy2{
    left: 350px;
    top: 250px;
}

#enemy3{
    left: 830px;
    top: 450px;
}

#enemy4{
    left: 400px;
    top: 450px;
}

#enemy5{
    left: 400px;
    top: 400px;
    background-image: url(media/plane.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;

    z-index: 1;
}

#infos{
    color: white;
    padding-left: 45%;
    text-align: center;
    display: none;
    font-size: 1rem;
}

#jouer{
    border-radius: 15px;
    color: black;
    background-color: darkseagreen;
    display: inline;
    font-size: 1.5rem;
    width: 200px;
    height: 200px;
}


#start{
    position: absolute;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    text-align: center;
    background-image: url(media/thumb-1920-809593.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


#gameover {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 450px;
    font-size: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 10px;
    border: 20px solid #3d606e;
    background-color: black;
}

#gameover .gameovertext {
    width: auto;
    height: auto;
    color: white;
    text-align: center;
    
    padding: 0px;
    font-size: 2em;
}

#gameover .refreshbutton {
    width: auto;
    height: auto;
    

    padding: 0px;
    font-size: 4em;
}

button{
    width: 150px;
    height: 150px;
    font-size: 1rem;
}

.shot {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 100%;
  
    position: absolute;
    right: -5px;
    bottom: 20px;
}

#bonus{
    width: 150px;
    right: 650px;
    bottom: 50px;
}
